.right-box{
    max-height: 56.4vh;
    overflow-y: auto;
}

.center-box{
    height: 49.9vh;
    overflow-y: auto;
}

@media only screen and (max-width : 992px) {
    .center-box {
        height: 74vh;
    }
}

@media only screen and (max-width : 992px) {
    .right-box {
        max-height: 77.6vh;
    }
}

header, main, footer {
    padding-left: 300px;
}

@media only screen and (max-width : 992px) {
    header, main, footer {
        padding-left: 0;
    }
}

html,
body {
    display: flex;
    height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.other-message,
.your-message{
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    max-width: 100%;
    padding: 6px 20px;
    word-wrap: break-word;
}

.other-message {
    margin-top: 10px;
    float: left;
}


.your-message {
    float: right;
}